@import "@xterm/xterm/css/xterm.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#notice {
  animation: fadeOut 700ms ease-in-out 5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
